.searchContainer {
  margin-top: 120px;
  padding: 0 32px;
  width: 100%;
  .groupName {
    width: 100%;
    font-size: 50px;
    font-weight: 500;
    margin-top: 50px;
  }
  .listContainer {
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;
    padding: 16px 0;
    &:active {
      background-color: $taro-bg-color-grey;
    }
    .listLeft {
      position: relative;
      display: flex;
      align-items: center;
      width: 15%;
      img {
        width: 96px;
        height: 96px;
        border-radius: $taro-border-radius-base;
        background-color: $taro-color-primary;
      } 
    }
    .listRight {
      width: 85%;
      min-width: 0;
      padding-left: $taro-spacing-col-base;
      display: flex;
      align-items: center;
      .name {
        flex: 2;
        font-weight: 400;
        color: $taro-text-color;
        line-height: 50px;;
      } 
      .option {
        flex: 1;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: -32px;
        width: 120px;
        .text, .textAdd {
          font-size: $taro-font-size-sm;
          padding: 8px 24px;
          border-radius: $taro-border-radius-base;
        }
        .text {
          background: #FFE431;
        }
        .textAdd {
          color: #4AAAFF;
          background: rgba(74,170,255,0.10);
        }
        .hightLightText {
          color: red;
        }
      }
    }
  }
}