.main {
  .backLogo {
    img { 
      width: 48px !important;
      height: 48px !important;
    }
  }
  
  .title {
    // margin-left: -86px;
    font-size: 40px;
  }

  .friendContainer {
    margin-top: 100px;
  }
}