// 样式行为色 
$taro-color-primary: rgba(255, 288, 49, 1);
$taro-color-success: rgba(87, 153, 255, 1);
$taro-color-warning: rgba(255, 93, 91, 1);
$taro-color-error: rgba(255, 93, 91, 1);

// 文字字体颜色
$taro-text-color: rgba(39, 40, 50, 1); // 基本色
$taro-text-color-inverse: #fff; // 反色
$taro-text-color-grey: rgba(39, 40, 50, 0.6); // 
$taro-text-color-placeholder: #808080;
$taro-text-color-disable: rgba(39, 40, 50, 0.4);

// 背景颜色
$taro-bg-color: #ffffff;
$taro-bg-color-grey: rgba(243, 244, 246, 1);
$taro-bg-color-hover: rgba(39, 40, 50, 0.2); // 点击状态颜色
$taro-bg-color-mask: rgba(0, 0, 0, 0.4);

// 边框颜色
$taro-border-color: rgba(39, 40, 50, 0.1);

//文字尺寸
$taro-font-size-sm: 24px;
$taro-font-size-base: 28px;
$taro-font-size-lg: 32px;
$taro-font-size-llg: 48px;

// 图片尺寸
$taro-img-size-sm: 80px;
$taro-img-size-base: 96px;
$taro-img-size-lg: 104px;

// 圆角尺寸
$taro-border-radius-sm: 10px;
$taro-border-radius-base: 20px;
$taro-border-radius-lg: 30px;
$taro-border-radius-circle: 50%;

// 水平间距
$taro-spacing-row-sm: 20px;
$taro-spacing-row-base: 40px;
$taro-spacing-row-lg: 60px;

// 垂直间距
$taro-spacing-col-sm: 16px;
$taro-spacing-col-base: 32px;
$taro-spacing-col-lg: 48px;




