.detailContainer {
  .backLogo {
    img {
      width: 48px !important;
      height: 48px !important;
    }
  }
  .topText {
    margin-left: -56px;
    font-size: 40px;
  }
  .itemList { 
    margin-top: 100px;
  }
}