.cancle {
  padding-right: 32px; 
  // padding-left: 15px;
  font-size: 40px;
  color: #272832;
  font-weight: 400;
}
.searchBar {
  width: 580px;
  height: 60px;
  line-height: 60px;
  // margin-left: -60px;
  margin-left: 40px;
  // display: flex;
  position: relative;
  input {
    height: 60px;
    border: 1px solid #ccc;
    // font-size: $taro-font-size-lg;
    border-radius: $taro-border-radius-sm;
    padding-left: 12px;
    padding-right: 75px;
  }
  image {
    position: absolute;
    right: -4px;
    top: 6px;
    scale: 0.8;
    transform: rotate(4deg);
    z-index: 10;
  }
  img {
    position: absolute;
    right: -4px;
    top: 6px;
    scale: 0.8;
    transform: rotate(4deg);
    z-index: 10;
  }
  ::-webkit-input-placeholder {
    color: #8a8787;
  }
}